<div ng-include="'partials/navbar'"></div>

<div class="row">
  <div class="col-xs-4">
      <img ng-if="breed.image" ng-src="images/breeds/{{ breed._id }}.jpg" class="img-responsive img-thumbnail" id="breedImage" alt="{{ breed.name }}">

      <img ng-if="!breed.image" src="holder.js/230x300/text:No photo" class="img-responsive img-thumbnail" alt="No image" holderjs>

      <div ng-show="showForm" class="form-group" ng-class="form.imageCheck">
        <label class="control-label" for="inputImage"></label>
        <input type="file" class="form-control" id="inputImage" ng-model="form.image" ng-change="loadImage()">
        <span class="help-block">Max size 1Mb</span>
      </div>
  </div>

  <div class="col-xs-8">

    <!-- Edit actions -->
    <div ng-hide="showForm" class="pull-right">
        <button ng-click="toggleForm()" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button data-toggle="modal" data-target="#deleteBreedModal" class="btn btn-sm btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>

    <!-- Breed info -->
    <div class="form-group">
        <label ng-show="showForm" for="inputName">Name</label>
        <h3 ng-hide="showForm">{{ breed.name }}</h3>
        <input ng-show="showForm" class="form-control" type="text" id="inputName" ng-model="form.name" required />
    </div>

    <div class="form-group">
        <label for="inputOrigin">Origin</label>
        <p class="form-control-static" ng-hide="showForm">{{ breed.origin }}</p>
        <input ng-show="showForm" class="form-control" type="text" id="inputOrigin" ng-model="form.origin" required />
    </div>

    <div class="form-group">
        <label for="inputGroup">Group</label>
        <p class="form-control-static" ng-hide="showForm">{{ breed.group.name }}</p>
        <select ng-show="showForm" class="form-control" id="inputGroup" ng-model="form._group" required
            ng-options="g.id as g.name for g in groups">
        </select>
    </div>

    <div class="form-group">
        <label ng-show="breed.related.length||showForm" for="inputGroup">Related</label>
        <ul ng-hide="showForm">
          <li ng-repeat="rBreed in breed.related">
            <a href="/breeds/{{ rBreed._id }}">{{ rBreed.name }}</a>
          </li>
        </ul>
        <select multiple size="8" ng-show="showForm" class="form-control" id="inputRelated" ng-model="form._related" required
            ng-options="b._id as b.name for b in breeds | filter:{_id:'!'+breed._id}">
        </select>
    </div>

    <!-- Form actions -->
    <div ng-show="showForm" class="pull-right">
      <button ng-click="updateBreed()" class="btn btn-sm btn-primary">Save</button>
      <button ng-click="toggleForm()" class="btn btn-sm btn-danger">Cancel</button>
    </div>

  </div>
</div>

<!-- Confirmation modal -->
<div class="modal fade" id="deleteBreedModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteModalTitle" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="deleteModalTitle">Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure to delete this breed?
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="deleteBreed()" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>