<div ng-include="'partials/navbar'"></div>

<div class="row">
  <div class="col-sm-8">
    <ul>
        <li ng-repeat="dog in dogs">
          <a href="/dogs/{{ dog._id }}">{{ dog.name }}</a>, {{ dog._breed.name }} <a ng-click="deleteDog(dog._id, $index)"><span class="glyphicon glyphicon-remove"></span></a></li>
    </ul>
  </div>

  <div class="col-sm-4">
    <form name="dogForm" role="form" ng-submit="createDog(form)">
      <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" ng-model="form.name" required>
      </div>

      <div class="form-group">
        <label for="inputBirth">Birth date</label>
        <input type="text" class="form-control" id="inputBirth" ng-model="form.birth" required>
      </div>

      <div class="form-group">
        <label for="inputBreed">Breed</label>
        <select class="form-control" id="inputBred" ng-model="form._breed" required
          ng-options="b._id as b.name for b in breeds | orderBy:'name'">
        </select>
      </div>

      <div class="form-group">
        <input class="btn btn-primary btn-block" type="submit" id="submit" value="Add">
      </div>
    </form>

    <small><a onclick="webkitNotifications.requestPermission()">Enable notifications</a></small>
  </div>
</div>