<div ng-include="'partials/navbar'"></div>

<div class="row">
  <div class="col-xs-12">

    <!-- Edit actions -->
    <div ng-hide="showForm" class="pull-right">
        <button ng-click="toggleForm()" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button data-toggle="modal" data-target="#deleteDogModal" class="btn btn-sm btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>

    <!-- Dog info -->
    <div class="form-group">
        <label ng-show="showForm" for="inputName">Name</label>
        <h3 ng-hide="showForm">{{ dog.name }}</h3>
        <input ng-show="showForm" class="form-control" type="text" id="inputName" ng-model="dog.name"  required />
    </div>

    <div class="form-group">
        <label for="inputBirth">Birth</label>
        <p class="form-control-static" ng-hide="showForm">{{ dog.birth }}</p>
        <input ng-show="showForm" class="form-control" type="text" id="inputBirth" ng-model="dog.birth" required />
    </div>

    <div class="form-group">
        <label for="inputBreed">Breed</label>
        <p class="form-control-static" ng-hide="showForm">{{ dog.breed.name }}</p>
        <select ng-show="showForm" class="form-control" id="inputBreed" ng-model="dog._breed" required
            ng-options="b._id as b.name for b in breeds">
        </select>
    </div>

    <div class="form-group">
        <label for="inputRelated">Related</label>
        <ul ng-hide="showForm">
          <li ng-repeat="rdog in relatedDogs">{{ rdog.name }}</li>
        </ul>
        <select multiple ng-show="showForm" class="form-control" id="inputRelated" ng-model="dog.related" required
            ng-options="d._id as d.name for d in dogs">
        </select>
    </div>

    <!-- Form actions -->
    <div ng-show="showForm" class="pull-right">
      <button ng-click="updateDog()" class="btn btn-sm btn-primary">Save</button>
      <button ng-click="toggleForm()" class="btn btn-sm btn-danger">Cancel</button>
    </div>

  </div>
</div>

<!-- Confirmation modal -->
<div class="modal fade" id="deleteDogModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteModalTitle" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="deleteModalTitle">Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure to delete this dog?
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="deleteDog()" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>